
.mainContainer {
  position: relative;

  width: 100vw;
  height: 100vh;

  .sectorButton {
    position: absolute;
    bottom: 40px;
    right: 12px;
    padding: 4px 12px;
    background-color: #1C77DE;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    font-size: 18px;

    &:active {
      opacity: .8;
    }

    .sectorButtonHelper {
      position: absolute;
      left: -150px;
      top: 8px;
      font-size: 12px;
      text-wrap: nowrap;
      width: 150px;
    }
  }
}


