.mainContainer {
  position: relative;

  width: 100vw!important;
  height: 100vh!important;

  .sectorButtonContainer {
    position: absolute;
    bottom: 132px;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 12px;

    .sectorButton {
      padding: 4px 12px;
      background-color: #1C77DE;
      border-radius: 8px;
      font-weight: 600;
      color: white;
      font-size: 18px;

      &:active {
        opacity: .8;
      }
    }
    .sectorButtonHelper {
      font-size: 12px;
      text-wrap: nowrap;
      color: white;
    }
  }

}


