.mainContainer {
  position: relative;

  width: 100vw!important;
  height: 100vh!important;

  .sectorButtonContainer {
    position: absolute;
    top: 148px;
    left: 50%;
    transform: translateX(-50%);

    .sectorButton {
      padding: 8px 12px;
      background-color: rgba(17, 76, 146, 0.77);
      border-radius: 8px;
      font-weight: 500;
      color: white;
      font-size: 12px;
      text-wrap: nowrap;
      text-align: center;

      &:active {
        opacity: .8;
      }
    }
  }

  .sectorTitle {
    position: absolute;
    top: 120px;
    left: 50%;
    font-weight: 600;
    transform: translateX(-50%);
    width: 80%;
    font-size: 14px;
    text-align: center;
  }
}


