.container {
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
}

.text {
  background-color: white;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgContainer {
  width: 100vw;
  height: 100vh;
}

.modal {
  width: calc(100vw - 48px);
  height: calc(100vh - 140px);
}
