.header {
  display: flex;
  justify-content: space-between;
  background-color: #1d2228;
  color: white;
  margin-bottom: 12px;

  .title {
    background-color: #1d2228;
    font-size: 18px;
  }
}

.content {
  border-radius: 12px;
  background-color: #131313;
  width: 100%;
  height: calc(100% - 30px);
  color: white;
}
