.header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 12px;

  .title {
    font-size: 18px;
  }
}

.content {
  border-radius: 12px;
  width: 100%;
  height: calc(100% - 30px);
  color: white;
}
